#senseo-panel-container {
  margin: 0;
  padding: 1px;
  font-size: 12px;
  font-family: Verdana, Arial, sans serif;
  background: #fff url(chrome://senseo/content/img/grid.gif) 0 0 repeat;
  min-height: 95%;
}

#senseo-intro div.box {
  margin: 25px 35px;
  padding: 20px;
  width: 650px;
  background-color: #3d6394;
  background-image: -moz-linear-gradient(0% 0% 270deg, #3d6394, #243c60);
  -moz-border-radius: 10px;
  -moz-box-shadow: 2px 2px 6px #222;
}

#senseo-intro img.icon {
  float: left;
  margin-right: 20px;
}

#senseo-intro h2 {
  margin: 0;
  padding: 0;
  color: #eee;
  font-size: 28px;
  text-shadow: 1px 1px 2px #333;
}

#senseo-intro h2 em {
  color: #90c7ff;
}

#senseo-intro ul {
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#senseo-intro ul li {
  margin-left: 135px;
  padding-top: 5px;
}

#senseo-intro p.additional {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 10px;
}

#senseo-intro p.additional a {
  color: #90c7ff;
}

#senseo-crawl table#page-crawl-results {
  border: 1px #c4c4c4 solid;
  border-collapse: collapse;
  box-shadow: 0 3px 5px #aaa;
  margin: 15px 10px 10px 10px;
}

#senseo-crawl table#page-crawl-results thead th {
  margin: 0;
  padding: 3px 5px;
  border: 1px #c4c4c4 solid;
  border-collapse: collaps;
  text-align: left;
  color: #444;
  font-weight: normal;
  background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #f4f4f4);
}

#senseo-crawl table#page-crawl-results thead th:first-child {
  border-radius: 4px 0 0 0;
}
  
#senseo-crawl table#page-crawl-results thead th:last-child {
  border-radius: 0 4px 0 0;
}
  
#senseo-crawl table#page-crawl-results tbody tr.last-child td:first-child {
  border-radius: 0 0 4px 0;
}
  
#senseo-crawl table#page-crawl-results tbody tr.last-child td:last-child {
  border-radius: 0 0 0 4px;
}
  
#senseo-crawl table#page-crawl-results tbody td {
  margin: 0;
  padding: 3px 5px;
  background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #f4f4f4);
  border: 1px #c4c4c4 solid;
}

#senseo-inspect h1.inspect {
  width: 98%;
  vertical-align: middle;
  margin: 0;
  height: 20px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  margin-bottom: 10px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #f4f4f4);
  -moz-box-shadow: 0 3px 5px #aaa;
}

#senseo-inspect h1.inspect #grade-container {
  display: inline-block;
  float: left;
  padding: 3px 0;
}

#senseo-inspect h1.inspect #senseo-grade {
  display: inline-block;
  margin-right: 15px;
}

#senseo-inspect h1.inspect #twitter-container {
  display: none;
  padding: 3px 0;
  margin-right: 5px;
  float: left;
}

#senseo-inspect h1.inspect #twitter-container .icon {
  float: left;
  margin-right: 5px;
}
  
#senseo-inspect h1.inspect #twitter-grade-a {
  background-color: #e6e6ff;
  padding: 0 3px;
}

#senseo-inspect h1.inspect #flattr-container a img {
  border: 0;
}

#senseo-inspect span.related-keywords {
  display: block;
  margin: 0 10px;
  font-size: 11px;
}

#senseo-inspect span.related-keywords em {
  background-color: #e6e6e6;
  padding: 0 3px;
  font-style: normal;
}

#senseo-inspect span.related-keywords em a {
  color: #24603c;
}

#senseo-inspect div.result {
  margin: 15px 10px;
  padding: 0;
  width: 700px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 1px 1px 5px #888;
}

#senseo-inspect div.result.grade-a {
  background: #fafafa url(chrome://senseo/content/img/grade-a.png) 0 0 repeat-y;
}

#senseo-inspect div.result.grade-b {
  background: #fafafa url(chrome://senseo/content/img/grade-b.png) 0 0 repeat-y;
}

#senseo-inspect div.result.grade-c {
  background: #fafafa url(chrome://senseo/content/img/grade-c.png) 0 0 repeat-y;
}

#senseo-inspect div.result.grade-d {
  background: #fafafa url(chrome://senseo/content/img/grade-d.png) 0 0 repeat-y;
}

#senseo-inspect div.result.grade-e {
  background: #fafafa url(chrome://senseo/content/img/grade-e.png) 0 0 repeat-y;
}

#senseo-inspect div.result.grade-f {
  background: #fafafa url(chrome://senseo/content/img/grade-f.png) 0 0 repeat-y;
}

#senseo-inspect div.result div.right {
  margin: 0 0 0 30px;
  padding-top: 7px;
  -moz-border-radius: 10px;
  background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #f4f4f4);
}

#senseo-inspect div.result h2 {
  margin: 5px 0 0 10px;
  width: 30px;
  padding: 0;
  font-size: 15px;
  float: left;
}

#senseo-inspect div.result h3 {
  margin: 0 0 5px 5px;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

#senseo-inspect div.result h3 a {
  color: #000;
}

#senseo-inspect div.result h3 a:hover {
  color: #24603c;
  text-decoration: underline;
}

#senseo-inspect div.result h3 span.error {
  color: #ff3300;
  padding-left: 6px;
}

#senseo-inspect ul {
  list-style-type: none;
  font-size: 11px;
  padding: 0 0 5px 0;
  margin: 0;
}

#senseo-inspect ul li,
#senseo-inspect div.legend span {
  padding: 4px 0 4px 25px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: #000;
  font-weight: normal;
}

#senseo-inspect div.legend {
  margin-left: 40px;
}

#senseo-inspect span.pass,
#senseo-inspect ul li.pass {
  background-image: url(chrome://senseo/content/img/pass.png);
}

#senseo-inspect span.warning,
#senseo-inspect ul li.warning {
  background-image: url(chrome://senseo/content/img/warning.png);
}

#senseo-inspect span.fail,
#senseo-inspect ul li.fail {
  background-image: url(chrome://senseo/content/img/failed.png);
}

#senseo-inspect span.neutral,
#senseo-inspect ul li.neutral {
  background-image: url(chrome://senseo/content/img/neutral.png);
}

#senseo-inspect.highcontrast span.pass,
#senseo-inspect.highcontrast ul li.pass {
  background-image: url(chrome://senseo/content/img/pass-hc.png);
}

#senseo-inspect.highcontrast span.warning,
#senseo-inspect.highcontrast ul li.warning {
  background-image: url(chrome://senseo/content/img/warning-hc.png);
}

#senseo-inspect.highcontrast span.fail,
#senseo-inspect.highcontrast ul li.fail {
  background-image: url(chrome://senseo/content/img/failed-hc.png);
}

#senseo-inspect.highcontrast span.neutral,
#senseo-inspect.highcontrast ul li.neutral {
  background-image: url(chrome://senseo/content/img/neutral-hc.png);
}

#senseo-components table {
  margin: 10px;
  font-size: 11px;
  background-color: #fff;
  border-right: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}

#senseo-components table th {
  color: #0000dd;
}

#senseo-components table th,
#senseo-components table td {
  padding: 3px 6px;
  text-align: left;
  border-left: 1px #ddd solid;
  border-top: 1px #ddd solid;
}

#senseo-components table tbody th {
  white-space: nowrap;
}

#senseo-components span.failed {
  font-style: italic;
  color: #bb0000;
}

#senseo-components span.match {
  font-style: italic;
  color: #009900;
}

#senseo-snippetpreview #snippet-container {
  font-family: Arial;
  margin: 15px 10px;
  padding: 10px;
  width: 700px;
  background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #f4f4f4);
  -moz-border-radius: 10px;
  -moz-box-shadow: 1px 1px 5px #888;
}

#senseo-snippetpreview #snippet-container p {
  padding: 0;
  margin: 0;
}

#senseo-snippetpreview #snippet-container h4, 
#senseo-snippetpreview #snippet-container h5, 
#senseo-snippetpreview #snippet-container p, 
#senseo-snippetpreview #snippet-container table {
  font-size: 1.05em;
}

#senseo-snippetpreview #snippet-container table {
  border-collapse: collapse;
  empty-cells: show;
}

#senseo-snippetpreview #snippet-container table div div p {
  display: inline-block;
}

#senseo-snippetpreview #snippet-container .fakelink {
  color: #0000CC;
  cursor: pointer;
  text-decoration: underline;
}

div.contribution {
  margin: 15px 10px;
  font-size: 0.9em;
  padding: 0;
  width: 600px;
  color: #fff;
  background-color: #3d6394;
  background-image: -moz-linear-gradient(0% 0% 270deg, #3d6394, #243c60);
  -moz-border-radius: 10px;
  -moz-box-shadow: 1px 1px 5px #888;
}

div.contribution .container {
  padding: 15px;
}

div.contribution h2 {
  margin: 0 0 5px 0;
}

div.contribution p {
  margin: 0 0 5px 0;
}

div.contribution p.contribute {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

div.contribution p.contribute a {
  color: #90c7ff;
  text-decoration: underline;
}